* {
    font-family: "Nimbus Sans L", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.2em;
}

label {
    display: block;
    width: 200px;
    text-align: right;
}

table.params {
    margin-left: auto;
    margin-right: auto;
    background-color: #efefef;
    padding: 10px;
    border: #ccc solid 1px;
}

div.buttons {
    margin-top: 10px;
    text-align: center;
}

tr#selectionParam {
    display: none;
}

