* {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 1.2em;
}

label {
    display: block;
    width: 200px;
    text-align: right;
}

table.params {
    margin-left: auto;
    margin-right: auto;
    background-color: #efefef;
    padding: 10px;
    border: #ccc solid 1px;
}

div.buttons {
    margin-top: 10px;
    text-align: center;
}

tr#selectionParam {
    display: none;
}

